<h2>Add User</h2>

<ul *ngIf="formSubmitted">
  <li *ngIf="myForm.get('name')?.errors?.['required']"> Le nom est obligatoire, merci</li>
  <li *ngIf="myForm.get('username')?.errors?.['required']"> Le username est obligatoire, merci</li>
  <li *ngIf="myForm.get('username')?.errors?.['minlength']"> Le username est trop court, merci</li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div>
    <label for="theName">Name</label>
    <input type="text" id="theName" formControlName="name">
  </div>
  <div>
    <label for="theUsername">Username</label>
    <input type="text" id="theUsername" formControlName="username">
  </div>


  <fieldset formGroupName="boss">
    <legend>Superviseur</legend>
    <div>
      <label for="bossId">Boss</label>
      <select id="bossId" formControlName="id">
        <option value="">FAIRE UN CHOIX</option>
        <option [value]="u.id" *ngFor="let u of users">{{u.name}}</option>
      </select>
    </div>
  </fieldset>
  <button>OK</button>
</form>

<pre>
    {{myForm.valid}}
  {{myForm.value| json}}
</pre>
